.mls-table-reponsive {width: 100%; overflow-x: auto;}
.mls-table-reponsive table {width: 1100px; border: none;}
.mls-table-reponsive table thead {background: #0073e1;}
.mls-table-reponsive table thead th {color: #fff;}
.mls-table-reponsive table td, .mls-table-reponsive table th {border-bottom: 1px solid #ebebeb;}

.mls-lead-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
z-index: 999999;
}

.mls-lead-details-content {
    position: relative;
    background: #fff;
    border-radius: 6px;
    max-width: 600px;
    width: 100%;
    max-height: 95vh;
    overflow: hidden;
}
#mls-lead-header
{
    position: relative;
    padding: 15px 50px 15px 15px;
    background-color: #2e2e33;

}
#mls-lead-header h2 {margin: 0; line-height: 1.4; color: #fff;}

#mls-lead-details-body
{
    margin: 15px;
    max-height: calc(90vh - 68px);
    overflow-y: auto;
/*     background-color: #e5e5e5;
        border: 1px solid #e5e5e5; */
}
#mls-lead-details-body p
{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 150px auto;
    margin: 0;
    padding: 10px;
    color: #232323;
    font-weight: 600;
	gap: 10px;
	font-size: 14px;
}
#mls-lead-details-body p:nth-last-child(even)
{
    background-color: #fff;
}
#mls-lead-details-body p strong {font-weight: 800;}
.mls-close-modal {
    background: #fff;
    color: #2e2e33;
    padding: 0 0 2px 1px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15px;
    outline: none;
    border: none;
    width: 22px;
    height: 22px;
    line-height: 1;
    border-radius: 50%;
    font-size: 18px;
    z-index: 8;
    transform: translateY(-50%);
}
#mls-lead-details-body::-webkit-scrollbar {
	width: 5px;
}
#mls-lead-details-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}
#mls-lead-details-body::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  outline: 0px solid slategrey;
}

.mls-lead-details-content h2 {color: #222222; font-size: 20px; margin: 0 0 20px;}

.form-table.easySel-style select.sel-app {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 35px;
	display: block;
	background-image: url(../images/down-arrow-blk.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: right 15px center;
	cursor: pointer;
    height: 40px;
	min-height: inherit;
    width: 100%;
    max-width: 100%;    
}
.form-table.easySel-style .easySelect .styledSelect {height: auto; /*width: 700px; overflow-x: auto;*/ width: 188px; border: 1px solid #dedede; border-radius: 2px; background-color: #fff;}
.form-table.easySel-style .easySelect .options {border: 1px solid #dedede !important; background-color: #fff;}
.form-table.easySel-style .easySelect .divSearcheasySelect {border-bottom: 1px solid #dedede !important;}
/* .form-table.easySel-style .easySelect .searchInputeasySelect {display: none;} */
.form-table.easySel-style .easySelect .styledSelect:after {right: 6px; background-size: 15px;}
.form-table.easySel-style .scrolableDiv .container-item {font-size: 14px; padding: 0px 0px 10px 22px !important; font-weight: 400;}
.form-table.easySel-style .scrolableDiv .container-item .checkmark:after {left: 5px; border: 1px solid #a2a2a2; border-width: 0 1px 1px 0;}
/* .form-table.easySel-style .easySelect .clearSelectfromDiv {display: none !important;}
 */
.licence-style p.submit {display: inline-block; padding: 0px;}

.easySel-style input[type=date], .easySel-style input[type=datetime-local], .easySel-style input[type=datetime], .easySel-style input[type=email], .easySel-style input[type=month], .easySel-style input[type=number], .easySel-style input[type=password], .easySel-style input[type=search], .easySel-style input[type=tel], .easySel-style input[type=text], .easySel-style input[type=time], .easySel-style input[type=url], .easySel-style input[type=week]
{
    padding: 5px 15px;
    min-height: 40px;
    width: 100%;
    max-width: 240px;
    border: 1px solid #dedede;
}
.easySel-style .easySelect {/*width: 750px !important;*/ width: 240px !important; position: relative;}
.form-table.ft-flex td {display: flex; flex-flow: row wrap; align-items: center;}
.ft-flex .wp-picker-container .wp-color-result.button {margin: 0 !important;}
.form-table.easySel-style td .easySelect {margin-right: 2px;}
.form-table td p.description {width: 100%;}


.form-table.easySel-style .easySelect .styledSelect::-webkit-scrollbar {height: 10px;}
.form-table.easySel-style .easySelect .styledSelect::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}
.form-table.easySel-style .easySelect .styledSelect::-webkit-scrollbar-thumb {
  background-color: #dedede;
  outline: 0px solid slategrey;
}
.easySel-style .styledSelect:before {background-color: #fff;}
/* .easySel-style .styledSelect:before, .easySel-style .styledSelect:after {display: none !important; background-image: none !important;}
.easySel-style .styledSelect {
    background-image: url(../images/admin_select_arw.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 15px center;
}
.easySel-style .styledSelect:before 
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
	background-color: #fff;
    transform: translateY(-50%);
}
 */
/*-------------ToolTip----------------*/

span.mls-admin-info-btn
{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
	line-height: 1;
	margin-left: 3px;
}
span.mls-admin-info-btn svg {height: 15px; color: #B3B3B2;}
.mls-admin-info-wrap {position: relative; display: inline-block; width: auto;}
.mls-admin-info-toggle
{
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
	width: 100%;
	display: inline-flex;
}
.mls-admin-info-toggle p
{
/*     color: #fff !important;
    font-size: 12px; */
    margin: 0 !important;
    line-height: 1.3;
    background-color: #2e2e33;
    color: #fff !important;
    font-size: 13px !important;
	font-weight: 400;
    padding: 8px !important;
    border-radius: 6px;
    flex-shrink: 0 !important;
	width: auto;
	max-width: 300px;
}
.mls-admin-info-toggle:after 
{
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #2e2e33;
    transform: translateY(-50%);
}

.wp-list-table a.mls-toggle-qualified {display: inline-block; margin-top: 4px; margin-right: 5px; color: inherit; outline: none; border: none; box-shadow: none;}
.wp-list-table a.mls-toggle-qualified .dashicons-star-empty {color: #9a9a9a;}
.wp-list-table a.mls-toggle-qualified .dashicons-star-filled, .wp-list-table a.mls-toggle-qualified:hover .dashicons-star-empty {color: #e9c51f;}
.form-table td p {margin-bottom: 4px;}
.wp-list-table.widefat td {position: relative;}
p#mls-last-refresh {width: 100%;}

.mls-qualified-info-toggle
{
	background-color: #2e2e33;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    min-width: 170px;
}
.mls-qualified-info-toggle p
{
	margin: 0 !important;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
}
.mls-qualified-info-toggle:after 
{
    content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    z-index: 1;
    width: 0;
    height: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #2e2e33;
    transform: translateY(-50%);
}

.mls-table-no-data td {text-align: center;}
input.vd-btn.button 
{
    margin: 0px 0px 0 10px;
    height: 40px;
    color: #fff;
    border-color: #4e8101;
    background: #4e8101;
}
input.vd-btn.button:hover {color: #4e8101; background: #fff;}
input.vd-btn.button.deact-btn 
{
    margin: 0px 0px 0 10px;
    height: 40px;
    color: #fff;
    border-color: #f06c70;
    background: #f06c70;
}
input.vd-btn.button.deact-btn:hover {color: #f06c70; background: #fff;}

.mls-lkv-msg {display: table; margin: 15px 0;}
.form-table .mlspreflang label {display: inline-block; margin-bottom: 8px; margin-right: 8px;}

/*-------KeyWord--------*/

.form-table .tagsinput
{
    background-color: #fff;
    margin: 0 0 10px;
    width: 100%;
    border: 1px solid #dedede;
    font-size: 14px;
    color: var(--mlsDefault-color);
    box-shadow: none;
    padding: 7px 7px;
    border-radius: 3px;
    text-transform: none;
    text-shadow: none;
    text-align: left;
    height: 40px !important;
    margin: 0;
    font-family: inherit;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
	max-width: 400px;
}

.form-table .tagsinput::-webkit-scrollbar {height: 2px;}
.form-table .tagsinput::-webkit-scrollbar-track {box-shadow: inset 0 0 0px rgba(0,0,0,0.3);}
.form-table .tagsinput::-webkit-scrollbar-thumb {background-color: #bfbfbf; outline: 0px solid slategrey;}

.form-table input.tag-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #5c727d;
    font-size: 14px;
}
.form-table input.tag-input::-moz-placeholder { /* Firefox 19+ */
    color: #5c727d;
    font-size: 14px;
}
.form-table input.tag-input:-ms-input-placeholder { /* IE 10+ */
    color: #5c727d;
    font-size: 14px;
}
.form-table input.tag-input:-moz-placeholder { /* Firefox 18- */
    color: #5c727d;
    font-size: 14px;
}

.form-table.easySel-style .divSearcheasySelect .searchInputeasySelect::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
.form-table.easySel-style .divSearcheasySelect .searchInputeasySelect::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}
.form-table.easySel-style .divSearcheasySelect .searchInputeasySelect:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}
.form-table.easySel-style .divSearcheasySelect .searchInputeasySelect:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}

.form-table .tagsinput div input {color: var(--mlsDefault-color);}
.form-table .tagsinput .tag {background: #efefef;}
/* .form-table .tagsinput .tag .tag-remove:before, .tagsinput .tag .tag-remove:after {background: #f14a4a;} */
.form-table .tagsinput .tag .tag-remove:before, .form-table .tagsinput .tag .tag-remove:after {background: #f14a4a;}
/*-----------------*/

.wp-core-ui .form-table select {min-width: 240px; max-width: 240px; height: 40px; border-radius: 4px; border: 1px solid #dedede;}

.wp-core-ui .mls-trial-notice.notice
{
	background-color: #f36b04;
    border: none;
    padding: 12px;
	padding-left: 46px;
	background-image: url(../images/trial_cal.png);
	background-size: 24px;
	background-position: left 12px center;
	background-repeat: no-repeat;
	border-radius: 0;
}
.wp-core-ui .mls-trial-notice.notice p
{
	color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.wp-core-ui .mls-trial-notice.notice p a {color: #fff; text-decoration: underline;}
.wp-core-ui .mls-trial-notice.notice p a:hover {text-decoration: none;}
.wp-core-ui .mls-trial-notice.notice .notice-dismiss {top: 50%; transform: translatey(-50%); transition: all 0.2s linear;}
.wp-core-ui .mls-trial-notice.notice .notice-dismiss:hover {opacity: 0.7; transition: all 0.2s linear;}
.wp-core-ui .mls-trial-notice.notice .notice-dismiss:before {color: #fff;}

/*--------------------------------*/

.mls-multiSelect {
    width: 240px;
    position: relative;
}

.mls-multiSelect *, .mls-multiSelect *::before, .mls-multiSelect *::after {
    box-sizing: border-box;
}

.multiSelect_dropdown {
    font-size: 14px;
    min-height: 40px;
    line-height: 40px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #2c3338;
    border: 1px solid #dedede;
    font-weight: 400;
    padding: 0.5px 13px;
    margin: 0;
    transition: .1s border-color ease-in-out;  
    cursor: pointer;
}

.multiSelect_dropdown.-hasValue {
    padding: 5px 30px 5px 5px;
    cursor: default;
}

.multiSelect_dropdown.-open {
    box-shadow: none;
    outline: none;
    padding: 4.5px 29.5px 4.5px 4.5px;
    border: 1.5px solid #dedede;
}

.multiSelect_arrow::before,
.multiSelect_arrow::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-radius: 20px;
    border-bottom: 8px solid #5c656a;
    top: 40%;
    transition: all .15s ease;
}

.multiSelect_arrow::before {
    right: 18px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.multiSelect_arrow::after {
    right: 13px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.multiSelect_list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(10 * 31px);
    top: 28px;
    left: 0;
    z-index: 9999;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease, visibility 0.1s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    -webkit-transform: scale(0.8) translate(0, 4px);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid #d9dbde;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.multiSelect_option {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
    transition: all .15s ease;
}

.multiSelect_option.-selected {
    display: none;
}

.multiSelect_option:hover .multiSelect_text {
    color: #fff;
    background: #4d84fe;
}

.multiSelect_text {
    cursor: pointer;
    display: block;
    padding: 5px 13px;
    color: #525c67;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all .15s ease;
}

.multiSelect_list.-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(0, 12px);
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.multiSelect_list.-open + .multiSelect_arrow::before {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.multiSelect_list.-open + .multiSelect_arrow::after {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.multiSelect_list.-open .multiSelect_option {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.multiSelect_list.-open .multiSelect_option:nth-child(1) {
  transition-delay: 10ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(2) {
  transition-delay: 20ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(3) {
  transition-delay: 30ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(4) {
  transition-delay: 40ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(5) {
  transition-delay: 50ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(6) {
  transition-delay: 60ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(7) {
  transition-delay: 70ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(8) {
  transition-delay: 80ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(9) {
  transition-delay: 90ms;
}

.multiSelect_list.-open .multiSelect_option:nth-child(10) {
  transition-delay: 100ms;
}

.multiSelect_choice {
    background: rgba(77, 132, 254, 0.1);
    color: #444f5b;
    padding: 4px 8px;
    line-height: 17px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.multiSelect_deselect {
    width: 10px;
    height: 10px;
    display: inline-block;
    stroke: #ff8d8d;
    stroke-width: 3px;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
}

.multiSelect_choice:hover .multiSelect_deselect {
    stroke: #a1a8b1;
}

.multiSelect_noselections {
    text-align: center;
    padding: 7px;
    color: #b2bac3;
    font-weight: 450;
    margin: 0;
}

.multiSelect_placeholder {
    position: absolute;
    left: 20px;
    font-size: 14px;
    top: 8px;
    padding: 0 4px;
    background-color: #fff;
    color: #2c3338;
    pointer-events: none;
    transition: all .1s ease;
}

.multiSelect_dropdown.-open + .multiSelect_placeholder,
.multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #4073FF;
    font-size: 13px;
	opacity: 0;
}

.multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #6e7277;
    font-size: 13px;
}
.multiSelect_placeholder
{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.multiSelect_list.-open.-hasValue + .multiSelect_placeholder {opacity: 0;}

/*------MLS-Table-Style-------*/

table.mls-table-theme
{
	border-radius: 10px;
    overflow: hidden;
	box-shadow: 0 0 12px rgb(144 144 144 / 20%);
    margin: 10px;
	border: none;
	width: calc(100% - 20px);
	background-color: #fff;
}
table.mls-table-theme thead {background-color: #2e2e33;}
table.mls-table-theme thead th, table.mls-table-theme tbody td {padding: 15px 0 15px 10px; font-size: 14px;}
table.mls-table-theme thead th {color: #fff; font-weight: 700; border-bottom: 1px solid #2e2e33;}
.wp-core-ui table.mls-table-theme button, .wp-core-ui table.mls-table-theme a.button {color: #2e2e33; border-color: #2e2e33;background: #fff;}
.wp-core-ui table.mls-table-theme a.button-primary, .wp-core-ui table.mls-table-theme button:hover, .wp-core-ui table.mls-table-theme a.button:hover {color: #fff; border-color: #2e2e33;background: #2e2e33;}
.wp-core-ui table.mls-table-theme a.button-primary:hover {color: #2e2e33; border-color: #2e2e33;background: #fff;}

.mls-table-icon {display: inline-block; width: 20px; height: 20px; margin-right: 8px; vertical-align: middle; background-size: 20px; background-repeat: no-repeat;}
.mls-table-icon.mls-id {background-image: url(../images/id.png);}
.mls-table-icon.mls-name {background-image: url(../images/user.png);}
.mls-table-icon.mls-email {background-image: url(../images/email.png);}
.mls-table-icon.mls-domain {background-image: url(../images/internet.png);}
.mls-table-icon.mls-cal {background-image: url(../images/calendar.png);}
.mls-table-icon.mls-status {background-image: url(../images/status.png);}
.mls-table-icon.mls-datetime {background-image: url(../images/event.png);}
.mls-table-icon.mls-actions {background-image: url(../images/press-button.png);}

/*-------------*/

.mls-section-style1
{
	color: #2e2e33;
	background-color: #fff;
    padding: 40px;
    border-radius: 12px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	margin-top: 25px;
}
.mls-innersection-style1
{
	color: #2e2e33;
	background-color: #fff;
    padding: 25px 20px;
    border-radius: 12px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	margin-top: 25px;
}
.mls-section-style1 form tbody > tr:first-child th, .mls-section-style1 form tbody > tr:first-child td
{
	padding-top: 0;
}
.mls-section-style1 form tbody > tr td p:first-child {margin-top: 0;}
.mls-section-style1.mls-licence-tab form > p.submit, .tab-content p.submit {padding-bottom: 0; margin-bottom: 0; margin-top: 10px !important; padding-left: 220px;}
.mls-section-style1 form tbody > tr th {font-size: 16px; vertical-align: top;}

.wp-core-ui .mls-section-style1 .button-primary
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
    padding: 5px 15px;
}
.wp-core-ui .mls-section-style1 .button-primary:hover
{
	background: #fff;
    border-color: #2e2e33;
    color: #2e2e33;
}

.mls-innersection-style1 .mls-table-reponsive {margin-top: 25px;}
.mls-innersection-style1 .mls-table-reponsive table
{
	width: 100%;
	border: 1px solid #ebebeb;
    border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}
.mls-innersection-style1 .mls-table-reponsive table thead {background: #2e2e33;}
.mls-innersection-style1 .mls-table-reponsive table thead th {padding: 15px 10px; font-weight: 800; font-size: 15px;}
.mls-innersection-style1 .mls-table-reponsive table tbody td {padding: 15px 10px; font-size: 14px;}
.mls-innersection-style1 ul {list-style: disc; padding-left: 30px;}
.mls-innersection-style1 ol {list-style: decimal; padding-left: 30px;}
.mls-innersection-style1 ul:last-child, .mls-innersection-style1 ol:last-child {margin-bottom: 0;}

/*------------*/

h1.mls-ap-heading-style1 
{
	font-size: 22px;
    font-weight: 800;
    padding: 0;
    margin: 20px 0 25px;
    padding-left: 17px;
    border-left: 3px solid #2e2e33;
    color: #2e2e33;
}
h2.mls-ap-heading-style2
{
    font-weight: 600;
    padding: 0;
    margin: 0 0 15px;
    color: #2e2e33;
	font-size: 19px;
}
h3.mls-ap-heading-style3
{
    font-weight: 600;
    padding: 0;
    margin: 30px 0 20px;
    color: #2e2e33;
	font-size: 17px;
}

.mls-licence-tab td p {margin-bottom: 15px;}
.mls-licence-tab td p:last-child {margin-bottom: 0;}
.mls-licence-tab td p a {color: #2e2e33; text-decoration: underline;}
.mls-licence-tab td p a:hover {color: rgb(34,146,244);}

.mls-innersection-style1 h2 + p.description {color: #2e2e33; font-size: 16px; margin: 0 0 15px; padding: 0;}
.mls-innersection-style1 p, .mls-innersection-style1 li {color: #2e2e33; font-size: 14px; margin: 0 0 10px; padding: 0;}
.mls-innersection-style1 ul li:last-child, .mls-innersection-style1 ol li:last-child {margin: 0;}
.mls-innersection-style1 p.description + h2.mls-ap-heading-style2 {margin-top: 25px;}
.mls-innersection-style1 pre {width: 100%; overflow-x: auto;}
.mls-innersection-style1 code {padding: 5px; background: #d3d3d3; color: #000; border-radius: 4px;}

/*-----------Nav Tab------------*/

.mls-admin-navtab {padding-top: 0; border-bottom: 1px solid #f0f0f0;}
.mls-admin-navtab .nav-tab
{
	padding: 0 0 10px;
    font-weight: 700;
	font-size: 15px;
	background: transparent;
	color: #939393;
	margin-left: 0;
	margin-right: 20px;
	border: none;
	border-radius: 6px 7px 0 0;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}
.mls-admin-navtab .nav-tab-active, .mls-admin-navtab .nav-tab-active:hover, .mls-admin-navtab .nav-tab-active:focus, .mls-admin-navtab .nav-tab-active:focus:active, .mls-admin-navtab .nav-tab:hover, .mls-admin-navtab .nav-tab:focus
{
	background: transparent;
	color: #2e2e33;
	border: none;
	box-shadow: none;
	outline: none;
	border-bottom: 2px solid #2e2e33;
}

.mls-innersection-style1 .tab-content {background-color: #fff; padding: 30px 0px 0px;}
.mls-innersection-style1 .tab-content h2
{
	 font-weight: 600;
    padding: 0;
    margin: 0 0 15px;
    color: #2e2e33;
	font-size: 19px;
}
.mls-innersection-style1 .tab-content h3
{
	 font-weight: 700;
    padding: 0;
    margin: 0;
    color: #2e2e33;
	font-size: 15px;
}

.mls-innersection-style1 p.note-style {margin-top: 10px !important;}
.mls-innersection-style1 .tab-content p.submit input.button.button-primary
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
    padding: 5px 15px;
}
.mls-innersection-style1 .tab-content p.submit input.button.button-primary:hover
{
	background: #fff;
    border-color: #2e2e33;
    color: #2e2e33;
}
.mls-innersection-style1 .tab-content p:last-child {margin: 0;}

/*----------------------*/

/* .form-table.ft-flex th.ver-mid {padding-top: 28px;} */
.form-table.ft-flex td {padding: 20px 0px 20px 10px; margin: 0;}

.form-table.easySel-style select.sel-app
{
	height: auto;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.form-table.easySel-style .easySelect .styledSelect
{
	position: relative;
	line-height: 21px;
	display: block;
	height: auto;
	text-overflow: unset;
    white-space: unset;
    overflow: visible;
    font-size: 14px;
	padding-left: 18px;
}
.form-table.easySel-style .easySelect .clearSelectfromDiv {position: absolute; display: none !important;}
.form-table.easySel-style .divSearcheasySelect .searchInputeasySelect
{
	margin: 8px 0 0 !important;
    padding: 5px;
    font-size: 15px;
    line-height: 1;
    height: 35px;
    min-height: 35px;
    border: 1px solid #dedede !important;
	min-width: auto;
}
.form-table.easySel-style .divSearcheasySelect #clearAlleasySelect, .form-table.easySel-style .divSearcheasySelect #selectAlleasySelect {background-color: #efeeee;}
.form-table.easySel-style .divSearcheasySelect #clearAlleasySelect:hover, .form-table.easySel-style .divSearcheasySelect #selectAlleasySelect:hover {background-color: #dfdede;}
.mls-innersection-style1 span.color-alpha {margin-left: 0;}
#mls_plugin_custom_languages_addTag input.tag-input:focus, #mls_plugin_custom_languages_addTag input.tag-input:focus-visible {outline: none;}

/*---------Toggle Style-----------*/

.mls-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}
.mls-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.mls-switch .mls-tog-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mls-switch .mls-tog-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mls-switch .mls-tog-slider.round {
  border-radius: 34px;
}
.mls-switch .mls-tog-slider.round.round:before {
  border-radius: 50%;
}
.mls-switch.active .mls-tog-slider {
  background-color: #2e2e33;
}
.mls-switch.active .mls-tog-slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
  -moz-box-shadow: 0 0 1px #2196f3;
  -ms-box-shadow: 0 0 1px #2196f3;
}
.mls-switch.active .mls-tog-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
code.mls-shortcode:hover {
    cursor: pointer;
    background: #2e2e33;
    color: white;
}

.mls-shortcode-wrap {position: relative; display: inline-block;}
code.mls-shortcode {display: inline-block; width: auto;}
.mls-adminsc-info-toggle
{
	background-color: #d3d3d3;
    color: #000;
    font-size: 12px;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 9;
    bottom: calc(-100% - 10px);
    left: 0;
/*     transform: translateY(-50%); 
    min-width: 125px;*/
    font-size: 12px;
    line-height: 1.2;
}
.mls-adminsc-info-toggle:after 
{
    content: '';
    position: absolute;
    top: -6px;
    left: 14px;
    z-index: 1;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #d3d3d3;
/*     transform: translateY(-50%); */
}
.mls-innersection-style1 code.mls-shortcode-copy-status
{
	margin-left: 5px;
	color: #008000;
	padding: 7px;
	background-color: #dbdbdb;
}
.cs-err.w-100 {width: 100%;}
.mls-cstatus-success, .mls-cstatus-error
{
/* 	background-color: #28a745;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #28a745; */
    color: #28a745;
    font-weight: 800;
	font-size: 16px;
}
.mls-cstatus-error {color: #dc3545;}
.mls-cstatus-success .dashicons, .mls-cstatus-error .dashicons {margin-right: 3px;}
.mls-cstatus-success .dashicons:before {font-size: 20px; background-color: #28a745; border-radius: 50%; color: #fff;}
.mls-cstatus-error .dashicons:before {font-size: 20px; background-color: #dc3545; border-radius: 50%; color: #fff;}
.mls-connection-error
{
	border: 1px solid #dcdcdc; 
	padding: 10px; 
	color: #2e2e33; 
	background-color: #f5f5f5;
	border-radius: 4px;
}

.mls-refresh-row-flex
{
	display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
	margin: 0 0 15px;
}
.mls-refresh-row-flex h2 {margin: 0 !important;}
.mls-refresh-row-flex .refresh_btn {text-align: left;}
.mls-refresh-row-flex .refresh_btn > div > span {display: inline-flex; align-items: center; gap: 10px;}
.mls-refresh-row-flex .refresh_btn p.note-style {margin-top: 5px !important;}
.mls-refresh-row-flex .refresh_btn > div {display: inline-flex; align-items: center; gap: 5px;}

.mls-refresh-row-flex .refresh_btn .mls-admin-info-toggle
{
	top: auto;
	bottom: -60px;
	left: auto;
	right: 285px;
	transform: translateY(0%);
}
.mls-refresh-row-flex .refresh_btn .mls-admin-info-toggle:after
{
	top: -3px;
    right: -278px;
	left: auto;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #2e2e33;
	border-top: none;
}

.mls_plugin_refresh_btn > .dashicons 
{
	width: 12px;
    height: 16px;
    font-size: 12px;
    vertical-align: middle;
}
.mls_plugin_refresh_btn.button
{
	background: #2e2e33;
    color: #fff;
    padding: 2px 15px;
    border: none;
    border-radius: 4px;
    border: 1px solid #2e2e33;
}
.mls_plugin_refresh_btn.button:hover
{
	background: transparent;
    color: #2e2e33;
    border: 1px solid #2e2e33;
}

.mls-innersection-style1 .form-table input[type="number"], .mls-innersection-style1 .form-table input[type="text"]
{
	min-width: 240px;
    max-width: 240px;
    height: 40px;
    border: 1px solid #dedede;
}

.mls-custom-checkbox-group
{
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;
}
.mls-custom-checkbox {position: relative;}
.mls-custom-checkbox input {
	padding: 0;
	margin-bottom: 0;
	cursor: pointer;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

.mls-custom-checkbox label {
  position: relative;
  cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
}

.mls-custom-checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: #dedede;
  border: 1px solid #dedede;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
  margin-top: -2px;
  border-radius: 2px;
}
.mls-custom-checkbox label:after {border: solid #2e2e33;}
.mls-custom-checkbox input:checked + label:before {background-color: #2e2e33; border: 1px solid #2e2e33;}
.mls-custom-checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3.5px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.swal2-content .swal2-html-container {font-size: 18px !important; color: #2e2e33 !important;}
.swal2-actions {margin-top: 10px !important;}
.swal2-actions button.swal2-styled {font-size: 14px !important;}
.swal2-header .swal2-icon {margin-top: 0 !important; margin-bottom: 10px !important;}
.swal2-header .swal2-title {font-size: 24px !important; line-height: 1 !important; margin-bottom: 0 !important;}
.swal2-styled.swal2-confirm{background-color: #2e2e33 !important;}
.swal2-styled.swal2-confirm:hover{background-color: #5e5e5f !important;}
.swal2-styled:focus {box-shadow: none !important;}

.proplang-table table.mls-table-theme thead th:last-child {border-right: none;}
.proplang-table table.mls-table-theme tbody td {border-left: none; border-top: none;}
.proplang-table table.mls-table-theme {width: auto; max-width: 100%; margin: 20px 0;}

.mls-fz-col{display: flex; align-items: center;}
.mls-fz-col input[type="number"] {padding-right: 40px;}
.mls-fz-col > span
{
	background-color: #e0e0e0;
    height: 39px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
    width: 40px;
    border-radius: 0 4px 4px 0;
    margin-left: -42px;
    font-weight: 600;
    font-size: 14px;
	color: #727272;
}

.ft-flex .wp-picker-container > button.button.wp-color-result {border-color: #c4c4c4;}
.mls-fz-col button.button.button-secondary
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
    padding: 5px 15px;
	margin-left: 5px;
}
.mls-fz-col button.button.button-secondary:hover {background: transparent; color: #2e2e33;}
.mls-innersection-style1 .tab-content .mls-fz-col p.description {font-size: 12px; margin-top: 5px;}

/* The container */
.mls-custom-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	margin-right: 15px;
}

/* Hide the browser's default radio button */
.mls-custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.mls-custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #dedede;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.mls-custom-radio:hover input ~ .checkmark {
  background-color: #cccccc;
}

/* When the radio button is checked, add a blue background */
.mls-custom-radio input:checked ~ .checkmark {
  background-color: #2e2e33;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.mls-custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.mls-custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.mls-custom-radio .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ffffff;
}

.wp-core-ui .mls-custom-admin-style .button 
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
}
.wp-core-ui .mls-custom-admin-style .button:hover 
{
	background: transparent;
    border-color: #2e2e33;
    color: #2e2e33;
}
.form-table .mlspreflang.mls-lf-pl label {margin: 0;}
.form-table .mlspreflang.mls-lf-pl .mls-custom-checkbox
{
	width: auto;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form-table .mlspreflang.mls-lf-pl .mls-custom-checkbox input:checked + label:after {top: 1px;}
.mls-lf-pl .tagsinput {margin-left: 5px;}
tr.mls-row-heading th {padding: 0;}
tr + tr.mls-row-heading th h2 {margin-top: 10px !important;}

#mls-plugin-deactivate-popup h3
{
	margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
	font-weight: 800;
}
#mls-plugin-deactivate-popup p
{
	text-align: left;
    margin-top: 0;
	margin-bottom: 10px;
}
#mls-plugin-deactivate-form {text-align: left;}
#mls-plugin-deactivate-form label {display: inline-block; margin-bottom: 5px; cursor: pointer;}
#mls-plugin-deactivate-form label input[type="radio"]:checked::before {background-color: #2e2e33;}
#mls-plugin-deactivate-form .da-form-btn {margin-top: 15px; display: flex; flex-flow: row wrap; align-items: center; gap: 8px;}
#mls-plugin-deactivate-form .button
{
    background: #fff;
    border-color: #2e2e33;
    color: #2e2e33;
	padding: 5px 15px;
	line-height: 1.8;
}
#mls-plugin-deactivate-form .button.button-primary
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
    padding: 5px 15px;
	line-height: 1.8;
}
#mls-plugin-deactivate-form .button:hover
{
	background: #2e2e33;
    border-color: #2e2e33;
    color: #fff;
}
#mls-plugin-deactivate-form .button.button-primary:hover
{
    background: #fff;
    border-color: #2e2e33;
    color: #2e2e33;
}